<div class="row">
    <div class="col">
    {{#each blogs}}
      <div class="card small">
        <div class="card-content black-text">
          <a href="/blogs/{{id}}"><span class="card-title">{{title}}</span></a>
          <p>{{content}}</p>
        </div>
        <div class="card-action">
          <p>{{User.username}}</p>
          <p>{{createdAt}}</p>
        </div>
      </div>
    {{/each}}
    </div>
</div>